.jumbotron {
    background-image: url("../IMG/pizza.png");
    background-size: cover;
}

.container > h1 {
    text-align: center;
    background-color: #ffffff;
    opacity: .7;
}

.container{
    padding: 0;
    border: 0;
    margin: 0;
}

button, .blue-back{
    background-color: #0F6CFF;
    color: #fff;
}


