@media screen and (max-width: 768px) {
    .column.1-half,
    .column.1-third,
    .column.1-fourth,
    .column.1-sixth,
    .column.1-eighth {
    width: 100%;
    }
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

.row {
    width: 100%;
}

.row:after{
    content: '';
    display: table;
    clear: both;
}

.column{
    box-sizing: border-box;
    float: left;
    padding: 10px;
    border: black solid 1px;
    height: auto;
}

.column-1-half{
    width: 50%;
    background-color: #222222;
         }

.column-1-third{
    width: 33.33%;
    background-color: #444444;
         }

.column-1-fourth{
    width: 25%;
    background-color: #666666;
         }

.column-1-sixth{
    width: 16.66%;
    background-color: #888888;
         }

.column-1-eighth{
    width: 12.5%;
    background-color: #aaaaaa;
         }

