@media screen and (max-width: 768px) {
    .column-1-half{
        width: 100%;
    }

    .column-1-third{
        width: 100%;
    }

    .column-1-fourth{
        width: 100%;
    }

    .column-1-sixth{
        width: 100%;
    }

    .column-1-eighth{
        width: 100%;
    }
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

.row {
    width: 100%;
}

.row:after{
    content: '';
    display: table;
    clear: both;
}

.column{
    box-sizing: border-box;
    float: left;
    padding: 10px;
    height: auto;
}

@media screen and (min-width:769px) {
    .column-1-half{
        margin-right: 0;
        float: left;
        clear: bottom;
    }

    .column-1-third{
        float: right;
    }

    footer{
        float: left;
        clear: both;
    }

    .column-1-half{
        width: 50%;
    }

    .column-1-third{
        width: 33.33%;
    }

    .column-1-fourth{
        width: 25%;
    }

    .column-1-sixth{
        width: 16.66%;
    }

    .column-1-eighth{
        width: 12.5%;
    }
}