.box{
    width: 150px;
    height: 300px;
    float: left;
}

#blue{
    background-color: #0065bf;
}

#green{
    background-color: #00AE44;
    width: 300px;
}

#red{
    background-color: #ff0000;
    border-bottom-left-radius: 150px;
    position: absolute;
    top: 80px;
    left: 309px;
}