*{
    margin: 0;
    padding: 0;
}

@media screen and (max-width:767px) {

    .alert-info {
        height: 3em;
        text-align: center;
        border: 1px solid #CCCCCC;
        background-color: #C0ffff;
    }

    .header-img img{
    }

    body > h1 {
        text-align: center;
    }

    li {
        height: 3em;
        margin: 1em 0;
        background-color: #CCCCCC;
        list-style-type: none;
        text-align: center;
    }

    ul {
        padding: 0;
    }

    div:nth-child(1) a {
        text-decoration: none;
    }
}

@media screen and (min-width:768px) {
    .alert-info{
        visibility: hidden;
    }
    
    h1{
        float: left;
    }

    li{
        float: right;
        list-style-type: none;
        display: inline;
        padding-right: 1em;
    }

    img{

        margin-top: 5em ;
        height: 385px;
    }

    .main{
        margin-right: 0;
        float: left;
        clear: bottom;
    }

    .sub-section{
        float: right;
    }

    footer{
        float: left;
        clear: both;
    }
}