h1 {
    color: purple;
    text-decoration: underline;
}


#container {
    margin: 50px auto;
    width: 500px;
    padding: 10px;
}

/*#container {*/
    /*text-align: center;*/
/*}*/

h1, h2, h3 {
    color: blue;
    text-decoration: underline;
}

body {
    background-image: url("../IMG/stars.jpg");
    background-repeat: repeat;
    font-family: "Chalkboard", cursive;
    color: Orange;
}

ul{
    list-style: square;
}

table tr td {
    border: 2px purple solid;
}

a:link {
    color: red;
}

a:visited {
    color: orange;
}

a:hover {
    color: blue;
}

a:active {
    color:white;
}


