body{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS',verdana, sans-serif;
    background-color: #d2d8c7;
}

.box#left{
    width: 20%;
    height: 100%;
    background-color: #999f8e;
    position: absolute;
    text-align: center;
}

.box#right{
    width: 80%;
    height: 100%;
    float: right;
}
.padding{
    padding: 0 20px;
}

a{
    color: #000;
}

#logo{
    color: #0E4f36;
}