body{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS',verdana, sans-serif;
    background-color: #d2d8c7;
}

.box#left{
    width: 20%;
    height: 100%;
    background-color: #999f8e;
    position: absolute;
}

.box#right{
    width: 80%;
    height: 275px;
    float: right;
}

a{
    color: #000;
}